html {
      height: 100%;
    }
    body {
      background: #E2E4E7;
      padding: 0;
      text-align: center;
      font-family: 'open sans';
      position: relative;
      margin: 0;
      height: 100%;
      -webkit-font-smoothing: antialiased;
   }
       .wrapper {
    	height: 100% !important;
    	height: 100%;
    	margin: 0 auto; 
    	overflow: hidden;
    }    
    a {
      text-decoration: none;
    }

     
    .main {
      float: left;
      width: 100%;
      margin: 0 auto;
    }
    
   
    .btns {
      margin: 50px auto;
      margin-left: 110px;
      margin-top: 20px;
    }
    .credit {
      text-align: center;
      color: rgba(0,0,0,0.5);
      padding: 10px;
      width: 410px;
      clear: both;
    }
    .credit a {
      color: rgba(0,0,0,0.85);
      text-decoration: none;
      font-weight: bold;
      text-align: center;
    }
    .main section .page_container {
      position: relative;
      top: 25%;
      margin: 0 auto 0;
      max-width: 950px;
      z-index: 3;
    }
    .main section  {
      overflow: hidden;
    }
    #dota2{
    	height: 100px;
        	margin:-50px 0px 0px 940px; 

    }
    
	.thermal{
		margin-top: 120px;
	}


        .main section.page1 {
  background: linear-gradient(to bottom, rgba(212,228,239,1) 50%,rgba(134,174,204,1) 98%);
    }
        .main section.page1 img {
        	height: 80px;
      		padding: 0;
      		margin-right: 500px;
      		margin-bottom: 15px;

    }
        .main section.page1 h2 {
      color: rgba(0,0,0,0.85);
      text-align: center;
      width: 435px;

    }
    .main section .page_container .btns {
      clear: both;
      float: left;
      text-align: center;
      width: 435px;
    }
    .main section .page_container .btns a{
      text-align: center;
    }
       .src-image {
  display: none;
}

.page2{
background: linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(125,185,232,0.97) 2%,rgba(125,185,232,0.42) 42%,rgba(125,185,232,0.34) 48%,rgba(125,185,232,0.3) 51%,rgba(30,87,153,0.19) 59%,rgba(125,185,232,0.12) 64%,rgba(125,185,232,0) 72%);}
.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #284c79;
  color: rgb(136, 172, 217);
 }

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}
.page2nd{
	margin:50px 0px 0px 0px;
}
.kartu{
	margin: 20px 0px 0px 180px;
}